
<section id="board">
  <aside id="sidemenu">
    <div id="">
      <a href="#/projects">Projects</a> >> {{ project.title }}
    </div>
  </aside>

  <div id="lists">
    <div class="list-wrapper" style="left: 0;">
      <div class="storiesList" id="coldBox" ng-show="isShownList.coldbox">
        <div class="list-header">
          <h3>Cold box</h3>
          <a class="add-story" href="javascript:void(0)">+</a>
        </div>
        <ul class="list-content">

          <li 
            ng-repeat="story in storiesForBoard('coldbox')"
            ng-controller="StoryCtrl"
            ng-class="{'expanded': story.isExpanded}"
            ng-include="'storyTemplate.html'">
          </li>

        </ul>
      </div>
    </div>
    
    <div class="list-wrapper" style="left: 400px;">
      <div class="storiesList" id="current" ng-show="isShownList.current">
        <div class="list-header">
          <h3>Current</h3>
        </div>
        <ul class="list-content">
          <li ng-repeat="story in storiesForBoard('current')" ng-class="{'expanded': story.isExpanded}" ng-include="'storyTemplate.html'"></li>
        </ul>
      </div>
    </div>

    <div class="list-wrapper" style="left: 800px;">
      <div class="storiesList" id="planned" ng-show="isShownList.planned">
        <div class="list-header">
          <h3>Planned</h3>
        </div>
        <ul class="list-content"></ul>
      </div>
    </div> 
  </div>


</section>

<!-- Story template -->
<script type="text/ng-template" id="storyTemplate.html">
  <div class="story-title" ng-hide="isExpanded">
    <a class="expand-link" href="javascript:void(0)">
      <span class="glyphicon glyphicon-chevron-right" ng-hide="isExpanded" ng-click="toggleStory()"></span>
    </a>
    {{ story.title }}
  </div>
  <div class="story-content" ng-show="isExpanded">
    <div class="edit-title">
      <a class="expand-link" href="javascript:void(0)">
        <span class="glyphicon glyphicon-chevron-down" ng-show="isExpanded" ng-click="toggleStory()"></span>
      </a>
      <textarea class="input-std" auto-grow ng-model="story.title"></textarea>
    </div>

    <div class="story-actions">
      <div class="input-group">
        <span class="input-group-addon input-group-xs">ID</span>
        <input type="text" class="story-id" disabled="true" value="{{ story.id }}"></input>
        <input type="button" class="btn btn-primary btn-xs save-story" value="Close & save" ng-click="closeAndSave()"></input>
      </div>
    </div>

    <ul class="story-info list-group">
      <li class="list-group-item story-type-row">
        <span>story type</span>
        <div>
          <select class="form-control" ng-model="story.type" story-type-input ng-options="label for label in storyTypes"></select>
        </div>
      </li>
      <li class="list-group-item">
        <span>requester</span>
        <div>Pavlo Sirous</div>
      </li>
      <li class="list-group-item points-row">
        <span>points</span>
        <div>

          <div class="input-group points-switcher">
            <span class="input-group-btn">
              <button class="btn btn-default btn-xs" type="button" ng-click="removePoints(story)">-</button>
            </span>
            <input type="text" class="form-control" ng-model="story.points" readonly>
            <span class="input-group-btn">
              <button class="btn btn-default btn-xs" type="button" ng-click="addPoints(story)">+</button>
            </span>
          </div>

        </div>
      </li>
    </ul>
    
    <div class="story-description">
      <label>DESCRIPTION</label>
      <textarea class="input-std" auto-grow ng-model="story.description"></textarea>
    </div>
  </div>
</script>