<!DOCTYPE html>
<html style="height: 100%">
<head>
  <title>Scrumtracker</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="scrumTracker" ng-view="true"  style="height: 100%">
  <%= yield %>
</body>
</html>
